.section2{
   padding: 80px 0px;
   h1{
    font-size: 48px;
    width: 70%;
   }
   p{
    width: 60%;
   }
   .para p{
    width: 70%;
   }
//    button{
//     padding: 15px 30px;
//     background-color:#5ce1e6;
//    border: 1px solid;
//    border-radius: 10px;
//     a{
//        color: black;
//         text-decoration: none;
//     }
//    }
   .icons{
    display: flex;
    gap: 20px;
    padding: 20px;
    &:hover{
        border: none;
        border-radius: 10px;
        // border: 1px solid;
        background-color: grey;
        padding: 20px;
    }
    span{
        font-size: 30px;
            a{
            color:aqua;
            }
       }
   }
}