.section1{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    .row {
         --bs-gutter-x: 0rem !important;}
   p{
    text-align: center;
   }
    span{
        font-weight: bold;
        font-size: 1.9rem;
    }
}